<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="database" value="MySql" />
        <option name="deleteByPrimayKeyEnabled" value="false" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="insertMethodEnabled" value="false" />
        <option name="insertSelectiveMethodEnabled" value="false" />
        <option name="javaMapperPackage" value="com.ganzhenghao.springbootmybatisplusstudy.dao" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/spring-boot-mybatisplus-study/src/main/java" />
        <option name="javaModelPackage" value="com.ganzhenghao.springbootmybatisplusstudy.domain" />
        <option name="javaModelPath" value="$PROJECT_DIR$/spring-boot-mybatisplus-study/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="spring-boot-mybatisplus-study" />
        <option name="lombokAllArgConstructor" value="true" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="lombokNoArgsConstructor" value="true" />
        <option name="mapperFilesFolder" value="D:\Develop\JavaPrograms\spring-boot-integration\spring-boot-mybatis-study\src\main\resources\mappers" />
        <option name="mapperFilesFolderList">
          <list>
            <option value="D:\Develop\JavaPrograms\spring-boot-integration\spring-boot-mybatis-study\src\main\resources\mappers" />
          </list>
        </option>
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="spring-boot-mybatis-study">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.ganzhenghao.springbootmybatisstudy.dao" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/spring-boot-mybatis-study/src/main/java" />
                  <option name="javaModelPacakge" value="com.ganzhenghao.springbootmybatisstudy.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/spring-boot-mybatis-study/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.ganzhenghao.springbootmybatisstudy.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/spring-boot-mybatis-study/src/main/java" />
                  <option name="javaServicePackage" value="com.ganzhenghao.springbootmybatisstudy.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/spring-boot-mybatis-study/src/main/java" />
                  <option name="xmlPackage" value="mappers" />
                  <option name="xmlPath" value="$PROJECT_DIR$/spring-boot-mybatis-study/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="spring-boot-mybatisplus-study">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.ganzhenghao.springbootmybatisplusstudy.dao" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/spring-boot-mybatisplus-study/src/main/java" />
                  <option name="javaModelPacakge" value="com.ganzhenghao.springbootmybatisplusstudy.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/spring-boot-mybatisplus-study/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.ganzhenghao.springbootmybatisplusstudy.service.impl" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/spring-boot-mybatisplus-study/src/main/java" />
                  <option name="javaServicePackage" value="com.ganzhenghao.springbootmybatisplusstudy.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/spring-boot-mybatisplus-study/src/main/java" />
                  <option name="xmlPackage" value="mappers" />
                  <option name="xmlPath" value="$PROJECT_DIR$/spring-boot-mybatisplus-study/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="spring-security-study">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.ganzhenghao.springsecuritystudy.dao" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/spring-security-study/src/main/java" />
                  <option name="javaModelPacakge" value="com.ganzhenghao.springsecuritystudy.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/spring-security-study/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.ganzhenghao.springsecuritystudy.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/spring-security-study/src/main/java" />
                  <option name="javaServicePackage" value="com.ganzhenghao.springsecuritystudy.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/spring-security-study/src/main/java" />
                  <option name="xmlPackage" value="com.ganzhenghao.springsecuritystudy.dao" />
                  <option name="xmlPath" value="$PROJECT_DIR$/spring-security-study/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="mybatisPlusIdType" value="ASSIGN_ID" />
        <option name="mybatisPlusStaticField" value="false" />
        <option name="removeTablePreName" value="spring_security" />
        <option name="selectByPrimaryKeyEnabled" value="false" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="spring_boot_integration:mp_user">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="spring-boot-mybatisplus-study" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="spring_boot_integration:mybatis_user">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="spring-boot-mybatis-study" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="spring_boot_integration:spring_security_user">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="spring-security-study" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
        <option name="updateByPrimaykeyEnabled" value="false" />
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="mappers" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/spring-boot-mybatisplus-study/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>